<!-- index.ejs -->
<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <head>
    <meta charset="UTF-8" />
    <title>Ch4t</title>
    <style>
      .textRegion{
        height: 90vh;
        overflow:auto;
        -webkit-overflow-scrolling: touch;
      }
      .text-field{
        width: 100vw;
      }
      .colorcss{
        color: white;
        background-color: black;
      }
      input[type="text"]:focus {
        background-color: black;
        color: white;
      }
      footer {
        text-align: center;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        width: 100vw:
      }
    </style>
  </head>

  <body class="colorcss">
    <h1 action="/username" name="username"><%= username%></h1>
    <div class="textRegion">
      <% for (var i = 0; i < quotes.length; i++){ %>
        <li class="quote list-group-item list-group-flush colorcss">
          <!-- Output name from the iterated quote object -->
          <span><%= quotes[i].name %></span>:
          <!-- Output quote from the iterated quote object -->
          <span><%= quotes[i].quote %></span>
        </li>
      <% }%>
  </div>

  <footer class="footer">
    <form class="text-field" action="/quotes" method="POST" autocomplete="off">
      <input class="form-control colorcss" type="text" placeholder="3nt3r t3xt h3r3" name="quote" />
    </form>
  </footer>
  </body>
</html>
